body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  padding: 57px 0;
}
.site-logo {
    width: 106px;
    height: 54px;
    object-fit: contain;
  }
  
  .nav-list {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    padding: 10px 12px;
  }
  
  .header-input {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: 2px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    padding: 17px 57px;
  }

.header,
.navs-lists, .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-icon-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sub-header-left {
  position: relative;
}

.sub-header-right {
  background-image: url("/images/girl-with-earphones.png");
  background-repeat: no-repeat;
  background-position: 16px 100px;
  background-size: contain;
  width: 661px;
  height: 661px;
}

.lump {
  position: absolute;
  background-image: url(/images/icons/lump.svg);
  background-repeat: no-repeat;
  background-position: 2px -20px;
  background-size: cover;
  top: 105px;
  right: 86px;
  width: 85.24px;
  height: 85.24px;
}

.sub-header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 40px;
}

.sub-header-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #8f95a5;
  margin-bottom: 60px;
}

.sub-header-input {
  background: #263238;
  border-radius: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  padding: 32px 117px;
}



.sub-header-right-img {
  width: 661px;
  height: 661px;
  object-fit: contain;
}
